@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import "vue-sonner/style.css";

@theme {

    --color-brand: #6366f1;
    --color-brand-strong: #4f46e5;
    --color-brand-medium: #818cf8;

    --color-neutral-primary: #ffffff;
    --color-neutral-secondary-soft: #f5f5f5;
    --color-neutral-tertiary: #e5e5e5;

    --color-heading: #111827;
    --color-body: #6b7280;

    --color-fg-brand: #6366f1;

    --radius-base: 0.5rem;
}